<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.po.tj_xianyu">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.ReleaseActivity"
            android:label="@string/title_activity_release"
            android:parentActivityName=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activity.MainActivity"/>
        <activity android:name=".activity.LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>
